/* 全局样式表 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:"Microsoft Yahei";
    
    
}

body {
  padding-right: 0px !important;
  color:#333333;
  
}
ol,ul{
  list-style: none;
}

html,body{
  width:100%;
  height:100%;
  overflow: hidden; 
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
    box-shadow: none;
}



.el-tag + .el-tag {
  margin-left: 10px;
}
.el-tag.el-tag--warning {
  color: #9f9d92;
  background-color: #fbf7dd;
  margin-left:10px;
  margin-bottom: 10px;
}




.cursor {
  cursor: pointer;
}


